html{
    scroll-behavior: smooth;
}

body{
    background-color: #0A1828;
}

.topbtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    z-index: 10001;
    border-radius: 1.4rem;
    box-shadow: 0 7px 25px rgba(0,0,0,8%);
}

#arrow{
    width: 3rem;
    height: 3rem;
}

/* SECTION HEADER */

.section-header{
    margin: 1%;
}

nav{
    background-color: #001F33;
}

.title-name{
    color: #DEB992;
}

.nav-link{
    color: #DEB992;

    font-size: larger;
}

.nav-link:hover{
    color: beige;
    background-color: #04487A;
}

/* SECTION ACCUEIL */

.accueil{
    background-color: #001F33;
    margin: 1%;
    color: #DEB992;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25%;
}

#presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#accroche{
    text-align: justify;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color:#DEB992
}

.profile-card {
    position: relative;
    width: 100%;
    max-width: 43rem;
    height: 16rem;
    border-radius: 1.2rem;
    box-shadow: 0 7px 25px rgba(0,0,0,8%);
    transition:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    background: #01243C;
    margin-bottom: 1.5rem;
    border: 4px solid #01243C;  
}

.profile-card:hover {
    height: 40rem;
    border: 4px solid #DEB992;  
}

.profile{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 9rem;
    height: 9rem;
    background: #fff;
    border-radius: 1.2rem;
    box-shadow: 0 15px 50px rgba(0,0,0,35%);
    overflow: hidden;
    transition: none;
}

.profile-card:hover .profile-imgBx {
    width: 15rem;
    height: 15rem;
}

.profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card .profile-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.profile-card .profile-content .profile-details {
    padding: 1.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: none;
    transform: translateY(400px);
}

.profile-card:hover .profile-content .profile-details {
    transform: translateY(40px);
}

.profile-card .profile-content .profile-details h3 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #DEB992;
    padding-top: 1.0rem;
    padding-bottom: 20px;
}

.profile-card .profile-content .profile-details h3 {
    display: flex;
    font-size: 2.4rem;
    padding-bottom: 1rem;
    justify-content: center;
}

.profile-data {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-data .card .iconBx {
    display: flex;
    align-items: center;
    font-size: 0.5rem;
    color: #DEB992;
}

.profile-data .card:hover .details,
.profile-data .card:hover .details a,
.profile-data .card:hover .iconBx  {
    color: #fff;
}

.profile-data .card {
    position: relative;
    background: #001F33;
    height: 1.5rem;
    border-radius: 1.2rem;
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    cursor: pointer;
}

.profile-data .card .details,
.profile-data .card .details a {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    font-weight: 500;
    font-size: 1rem;
    color: #DEB992;
}

.profile-data .card .details a {
    text-decoration: none;
}

.profile-cardBox {
    position: relative;
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.4rem;
}

.profile-cardBox  a{
    text-decoration: none;
    color: #DEB992;
    display: flex;
    flex-direction: column;
}

.iconBx{
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
}

#location{
    position: relative;
    display: flex;
    place-content: center;
}

#tooltip-text {
    display: none;
    position: absolute;
    top: -60px;
    z-index: 1;
    background: #00732c;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border-radius: 2px;
    animation: fadeIn 0.6s;
}

#tooltip-text:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #00732c;
  }
  
  @keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
  }

  /* SECTION COMPETENCES */

  #competences{
    background-color: #001F33;
    color: #DEB992;

    margin: 1%;
    padding-bottom: 25%;

    display: flex;
    justify-content: space-around;
  }

  .competence-title{
    text-align: center;

    margin: 2%;
  }

  .progress-card{
    background-color: #01243C;

    margin-right: 20%;
    margin-left: 20%;
    border-radius: 1.2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .competenceCard{
    display: flex;
    flex-direction: column;

    margin: 2rem;
  }

  .iconComp{
    width: 5rem;
    height: 5rem;
  }

  span{
    text-align: center;
  }

  #langues{
    background-color: #01243C;

    margin-right: 20%;
    margin-left: 20%;
    border-radius: 1.2rem;
    padding: 5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .competenceLang{
    display: flex;
    flex-direction: column;
  }

  .iconLang{
    width: 5rem;
    height: 5rem;
  }

  .imgLang{
    display: flex;
    justify-content: center;
  }

.lang{
    padding-top: 1rem;
}

#compLang{
    background-color: #01243C;

    margin-right: 20%;
    margin-left: 20%;
    border-radius: 1.2rem;
    padding: 5rem;

    list-style: none;
    text-align: center;
    font-size: larger;
}

/* SECTION FORMATIONS */

#formations{
    background-color: #001F33;
    color: #DEB992;

    margin: 1%;
    padding-bottom: 25%;

    display: flex;
    flex-direction: column;
}

#formation-title{
    color: #DEB992;

    margin: 2%;

    text-align: center;
}

.accordion-header {
  background-color: #01243C;
  color: #DEB992;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion-header:hover {
  background-color: #01243C;
}

.accordion-header i {
  margin-right: 10px;
}

.accordion-content {
  padding: 0 18px;
  background-color: #001F33;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-container{
    background-color: #01243C;

    margin-right: 20%;
    margin-left: 20%;
    border-radius: 1.2rem;
    padding: 5rem;

    list-style: none;
    text-align: center;
    font-size: larger;
}

.italic{
    color: #DEB992;
    text-align: center;
    font-style: italic;
}

#formoclock{
    list-style: none;
    text-align: justify;
}

@media (max-width: 767px) {
  .accordion-header {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .accordion-header {
    font-size: 22px;
  }
}

/* SECTION PORTFOLIO */

/* SECTION EXPERIENCES */

#experience{
    background-color: #001F33;
    color: #DEB992;

    margin: 1%;
    padding-bottom: 25%;

    display: flex;
    flex-direction: column;
}

#exp-title{
    color: #DEB992;

    margin: 2%;

    text-align: center;
}

.accordion-header {
    background-color: #01243C;
    color: #DEB992;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .accordion-header:hover {
    background-color: #01243C;
  }
  
  .accordion-header i {
    margin-right: 10px;
  }
  
  .accordion-content {
    padding: 0 18px;
    background-color: #001F33;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion-container{
      background-color: #01243C;
  
      margin-right: 20%;
      margin-left: 20%;
      border-radius: 1.2rem;
      padding: 5rem;
  
      list-style: none;
      text-align: center;
      font-size: larger;
  }
  
  .italic{
      color: #DEB992;
      text-align: center;
      font-style: italic;
  }

  .crocus{
    list-style: none;
    text-align: justify;
  }

  @media (max-width: 767px) {
    .accordion-header {
      font-size: 18px;
    }
  }
  
  @media (min-width: 768px) {
    .accordion-header {
      font-size: 22px;
    }
  }

  /* SECTION INTERET */

  #interet{
    background-color: #001F33;
    color: #DEB992;

    margin: 1%;
    padding-bottom: 10%;

    display: flex;
    flex-direction: column;
  }

  #int-title{
    color: #DEB992;

    margin: 2%;

    text-align: center;
  }

  #intCard{
      background-color: #01243C;
  
      margin-right: 20%;
      margin-left: 20%;
      border-radius: 1.2rem;
      padding: 5rem;
  
      list-style: none;
      text-align: center;
      font-size: larger;
  }

  .int-Card{
    display: flex;
  }

  .iconInt{
    width: 5rem;
    height: 5rem;
  }

  /* SECTION CONTACTS */

  footer{
    background-color: #01243C;
    color: #DEB992;

    margin: 1%;
  }

  #contact-title{
    color: #DEB992;

    padding-top: 1%;

    text-align: center;
  }

  #contMail{
    color: #DEB992;
    text-decoration: none;
  }

  #contMail:hover{
    color: antiquewhite;
  }

  .contact-icon{
    width: 2rem;
    height: 2rem;
  }

  #coordonnees{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .detailsCont{
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }